<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pythe.mapper.VHomepageListMapper" >
  <resultMap id="BaseResultMap" type="com.pythe.pojo.VHomepageList" >
    <result column="questionId" property="questionid" jdbcType="BIGINT" />
    <result column="subjectId" property="subjectid" jdbcType="INTEGER" />
    <result column="reward" property="reward" jdbcType="DOUBLE" />
    <result column="answerTime" property="answertime" jdbcType="TIMESTAMP" />
    <result column="answerId" property="answerid" jdbcType="BIGINT" />
    <result column="likesNum" property="likesnum" jdbcType="BIGINT" />
    <result column="userId" property="userid" jdbcType="BIGINT" />
    <result column="gradeId" property="gradeid" jdbcType="INTEGER" />
    <result column="studentName" property="studentname" jdbcType="VARCHAR" />
    <result column="studentImg" property="studentimg" jdbcType="VARCHAR" />
    <result column="rewardNum" property="rewardnum" jdbcType="DOUBLE" />
    <result column="teacherImg" property="teacherimg" jdbcType="VARCHAR" />
    <result column="teacherName" property="teachername" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.pythe.pojo.VHomepageListWithBLOBs" extends="BaseResultMap" >
    <result column="questionContent" property="questioncontent" jdbcType="LONGVARCHAR" />
    <result column="answerContent" property="answercontent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    questionId, subjectId, reward, answerTime, answerId, likesNum, userId, gradeId, studentName, 
    studentImg, rewardNum, teacherImg, teacherName
  </sql>
  <sql id="Blob_Column_List" >
    questionContent, answerContent
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.pythe.pojo.VHomepageListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from v_homepage_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.pythe.pojo.VHomepageListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from v_homepage_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.pythe.pojo.VHomepageListExample" >
    delete from v_homepage_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.pythe.pojo.VHomepageListWithBLOBs" >
    insert into v_homepage_list (questionId, subjectId, reward, 
      answerTime, answerId, likesNum, 
      userId, gradeId, studentName, 
      studentImg, rewardNum, teacherImg, 
      teacherName, questionContent, answerContent
      )
    values (#{questionid,jdbcType=BIGINT}, #{subjectid,jdbcType=INTEGER}, #{reward,jdbcType=DOUBLE}, 
      #{answertime,jdbcType=TIMESTAMP}, #{answerid,jdbcType=BIGINT}, #{likesnum,jdbcType=BIGINT}, 
      #{userid,jdbcType=BIGINT}, #{gradeid,jdbcType=INTEGER}, #{studentname,jdbcType=VARCHAR}, 
      #{studentimg,jdbcType=VARCHAR}, #{rewardnum,jdbcType=DOUBLE}, #{teacherimg,jdbcType=VARCHAR}, 
      #{teachername,jdbcType=VARCHAR}, #{questioncontent,jdbcType=LONGVARCHAR}, #{answercontent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pythe.pojo.VHomepageListWithBLOBs" >
    insert into v_homepage_list
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionid != null" >
        questionId,
      </if>
      <if test="subjectid != null" >
        subjectId,
      </if>
      <if test="reward != null" >
        reward,
      </if>
      <if test="answertime != null" >
        answerTime,
      </if>
      <if test="answerid != null" >
        answerId,
      </if>
      <if test="likesnum != null" >
        likesNum,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="gradeid != null" >
        gradeId,
      </if>
      <if test="studentname != null" >
        studentName,
      </if>
      <if test="studentimg != null" >
        studentImg,
      </if>
      <if test="rewardnum != null" >
        rewardNum,
      </if>
      <if test="teacherimg != null" >
        teacherImg,
      </if>
      <if test="teachername != null" >
        teacherName,
      </if>
      <if test="questioncontent != null" >
        questionContent,
      </if>
      <if test="answercontent != null" >
        answerContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionid != null" >
        #{questionid,jdbcType=BIGINT},
      </if>
      <if test="subjectid != null" >
        #{subjectid,jdbcType=INTEGER},
      </if>
      <if test="reward != null" >
        #{reward,jdbcType=DOUBLE},
      </if>
      <if test="answertime != null" >
        #{answertime,jdbcType=TIMESTAMP},
      </if>
      <if test="answerid != null" >
        #{answerid,jdbcType=BIGINT},
      </if>
      <if test="likesnum != null" >
        #{likesnum,jdbcType=BIGINT},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=BIGINT},
      </if>
      <if test="gradeid != null" >
        #{gradeid,jdbcType=INTEGER},
      </if>
      <if test="studentname != null" >
        #{studentname,jdbcType=VARCHAR},
      </if>
      <if test="studentimg != null" >
        #{studentimg,jdbcType=VARCHAR},
      </if>
      <if test="rewardnum != null" >
        #{rewardnum,jdbcType=DOUBLE},
      </if>
      <if test="teacherimg != null" >
        #{teacherimg,jdbcType=VARCHAR},
      </if>
      <if test="teachername != null" >
        #{teachername,jdbcType=VARCHAR},
      </if>
      <if test="questioncontent != null" >
        #{questioncontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="answercontent != null" >
        #{answercontent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.pythe.pojo.VHomepageListExample" resultType="java.lang.Integer" >
    select count(*) from v_homepage_list
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update v_homepage_list
    <set >
      <if test="record.questionid != null" >
        questionId = #{record.questionid,jdbcType=BIGINT},
      </if>
      <if test="record.subjectid != null" >
        subjectId = #{record.subjectid,jdbcType=INTEGER},
      </if>
      <if test="record.reward != null" >
        reward = #{record.reward,jdbcType=DOUBLE},
      </if>
      <if test="record.answertime != null" >
        answerTime = #{record.answertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.answerid != null" >
        answerId = #{record.answerid,jdbcType=BIGINT},
      </if>
      <if test="record.likesnum != null" >
        likesNum = #{record.likesnum,jdbcType=BIGINT},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=BIGINT},
      </if>
      <if test="record.gradeid != null" >
        gradeId = #{record.gradeid,jdbcType=INTEGER},
      </if>
      <if test="record.studentname != null" >
        studentName = #{record.studentname,jdbcType=VARCHAR},
      </if>
      <if test="record.studentimg != null" >
        studentImg = #{record.studentimg,jdbcType=VARCHAR},
      </if>
      <if test="record.rewardnum != null" >
        rewardNum = #{record.rewardnum,jdbcType=DOUBLE},
      </if>
      <if test="record.teacherimg != null" >
        teacherImg = #{record.teacherimg,jdbcType=VARCHAR},
      </if>
      <if test="record.teachername != null" >
        teacherName = #{record.teachername,jdbcType=VARCHAR},
      </if>
      <if test="record.questioncontent != null" >
        questionContent = #{record.questioncontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.answercontent != null" >
        answerContent = #{record.answercontent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update v_homepage_list
    set questionId = #{record.questionid,jdbcType=BIGINT},
      subjectId = #{record.subjectid,jdbcType=INTEGER},
      reward = #{record.reward,jdbcType=DOUBLE},
      answerTime = #{record.answertime,jdbcType=TIMESTAMP},
      answerId = #{record.answerid,jdbcType=BIGINT},
      likesNum = #{record.likesnum,jdbcType=BIGINT},
      userId = #{record.userid,jdbcType=BIGINT},
      gradeId = #{record.gradeid,jdbcType=INTEGER},
      studentName = #{record.studentname,jdbcType=VARCHAR},
      studentImg = #{record.studentimg,jdbcType=VARCHAR},
      rewardNum = #{record.rewardnum,jdbcType=DOUBLE},
      teacherImg = #{record.teacherimg,jdbcType=VARCHAR},
      teacherName = #{record.teachername,jdbcType=VARCHAR},
      questionContent = #{record.questioncontent,jdbcType=LONGVARCHAR},
      answerContent = #{record.answercontent,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update v_homepage_list
    set questionId = #{record.questionid,jdbcType=BIGINT},
      subjectId = #{record.subjectid,jdbcType=INTEGER},
      reward = #{record.reward,jdbcType=DOUBLE},
      answerTime = #{record.answertime,jdbcType=TIMESTAMP},
      answerId = #{record.answerid,jdbcType=BIGINT},
      likesNum = #{record.likesnum,jdbcType=BIGINT},
      userId = #{record.userid,jdbcType=BIGINT},
      gradeId = #{record.gradeid,jdbcType=INTEGER},
      studentName = #{record.studentname,jdbcType=VARCHAR},
      studentImg = #{record.studentimg,jdbcType=VARCHAR},
      rewardNum = #{record.rewardnum,jdbcType=DOUBLE},
      teacherImg = #{record.teacherimg,jdbcType=VARCHAR},
      teacherName = #{record.teachername,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  
   <select id="selectDefaultListByGradeId" parameterType="Integer" resultType="com.pythe.pojo.VHomepageListWithBLOBs"> 
			(SELECT * FROM v_homepage_list WHERE  gradeId =#{gradeId}) 
			UNION
			(SELECT * FROM v_homepage_list)
	</select>
  
  
  	<select id="selectListByGradeIdAndSubject" resultMap="ResultMapWithBLOBs">	
						(SELECT * FROM v_homepage_list WHERE  gradeId =#{gradeId} AND subjectId=#{subjectId})
							UNION
						(SELECT * FROM v_homepage_list where subjectId=#{subjectId})
	</select>
	
	
	<select id="selectListByFeeAndLikesNum" parameterType="Integer" resultType="com.pythe.pojo.VHomepageListWithBLOBs"> 
			(SELECT * FROM v_homepage_list WHERE  gradeId =#{gradeId} ORDER BY likesNum DESC) 
			UNION
			(SELECT * FROM v_homepage_list ORDER BY likesNum DESC)
	</select>
  
  
  	<select id="selectKnowledgeOrQuestionContent" parameterType="String" resultType="com.pythe.pojo.VHomepageListWithBLOBs"> 
		SELECT * FROM v_homepage_list WHERE  questionContent like CONCAT('%',#{query},'%')
	</select>
	
	
  
  
</mapper>